<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="design mx-auto">
    <div class="input-group pt-3 mx-auto">
      <%= form.label :author_id %>
      <%= form.collection_select :author_id, Author.order(:name), :id, :name, :class => 'select' %>
    </div>
  <div class="field-actions">
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, :class => 'title-field' %>
  </div>

  <div class="field">
    <%= form.label :Content %>
    <%= form.text_area :content %>
  </div>

   <div class="actions button d-flex justify-content-around">
    <%= form.submit 'Create Post', :class => 'btn btn-primary'%>
  </div>
<% end %>

