<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post2.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post2.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @author.name %>
</p>
<p>
  <strong>Author:</strong>
  <%= @author.email %>
</p>


<h2>Comments</h2>

<%= render @post2.commentaries %>

<h2>Add a comment:</h2>
<%= render 'commentaries/form' %>