
<%= form_with model: @author, class:"author-form mx-auto mt-4" do |form| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% @author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, :class => 'email-field' %>
  </div>

  <div class="field mb-3">
    <%= form.label :email %>
    <%= form.email_field :email, :class => 'email-field' %>
  </div>

  <div class="actions button d-flex justify-content-around">
    <%= form.submit 'Create', :class => 'btn btn-primary'%>
  </div>
<% end %>

