<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @commentary.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @commentary.author_id %>
</p>

<%= link_to 'Edit', edit_commentary_path(@commentary) %> |
<%= link_to 'Back', commentaries_path %>
