<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="input-group pt-3">
  <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option selected>Choose Author</option>
    <option value="1">Emmy</option>
    <option value="2">Diego</option>
    <option value="3">Rolando</option>
  </select>
  <button class="btn btn-outline-secondary" type="button">Search</button>
  </div>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :Content %>
    <%= form.text_area :Content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
