<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class="Nav-bar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a href="#"><img src="./micro.jpg" width="18" height="18" style="border:1px white solid;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="navbar-brand" href="#">Microverse</a>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">New |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Past |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comments |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Show |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Submit |</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Ask</a>
        </li>
      </ul>
      <form class="d-flex">
        <%= link_to 'Authors', new_autor_path, :class => "btn btn-warning"%>
        <button class="btn btn-outline-success" type="submit" >Login</button>
      </form>
    </div>
  </div>
</nav>

</div>

<table>
  <thead class="heading-color">
    <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.Content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
