<p id="notice"><%= notice %></p>
<% @posts.each_with_index do |post, index| %>
<div class="row">
<div class="col-lg-8 display-form d-flex justify-content-around pt-2">
 <%= index + 1 %>.<p class="title-paragraph"><strong>Title: </span></strong> <%= post.title %></p><br>
  <p class="content-paragraph"><strong><span>Content: </span></strong><%= post.Content %>(emm64418@gmail.com)</p><br>
  <%= link_to 'Show', post, :class => "btn btn-success" %><br>
  <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-warning" %><br>
  <%= link_to 'Destroy', post, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<div class="col-lg-8 display-form-2 d-flex justify-content-around pt-2">
  <p class="display-form-paragraph"><span>441 points by Emmy <%= post.created_at %> | 116 comments</span></p>
 </div>
</div>
 <% end %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.Content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
